#heading {
    color: darkcyan;
    text-shadow: 0.5em;
}

.container {
    padding: 2px;
}

.header-date {
    background-color: rgb(82, 209, 209);
    display: flex;
    height: 100px;
    width: 700px;
    justify-content: space-evenly;
    align-items: center;
}

#date {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: white;
}

button {
    font-size: 30px;
    background-color: rgb(82, 209, 209);
    color: white;
    box-shadow: 2rem;
    border: none;
}

.header-days {
    display: flex;
    height: 50px;
    width: 700px;
    background-color: rgb(207, 203, 203);
    align-items: center;
}

.header-names {
    height: 20px;
    width: 100px;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    width: 700px;
    flex-wrap: wrap;
    background-color: rgba(229, 238, 237, 0.699);
}

.dates {
    display: flex;
    padding: 10px;
    margin: 50px;
}

.month-dates {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.16);
}

.month-dates:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: rgba(183, 187, 186, 0.699);
    box-shadow: inset 1px 2px 3px rgba(26, 23, 23, 0.16);
}